@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,700);
* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*---------------background-color: rgb(0, 4, 54);*/

body {
	background-color: rgb(0, 4, 54);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.preview a {
	text-transform: uppercase;
	display: block;
}
.header {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 10;
	padding: 16px;
	backdrop-filter: blur(15px);
	z-index: 1;
}
.header__container {
	max-width: 1200px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
}

.header__logo {
	position: relative;
	z-index: 5;
	height: 30px;
	margin: -40px 0px 0px 0px;
}

.menu__body {
}

.menu__link:hover::after {
	width: 100%;
}

.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 20px;
}

.menu__link {
	color: #ffffff;
	font-size: 18px;
}

.menu__link:hover {
	color: blue;
	transition: 0.5s;
}

.menu__link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: blue;
	transition: width 0.5s; /* Анимация подчеркивания */
}

.menu__sub-list {
	position: absolute;
	top: 100px;
	right: 0;
	background-color: #000;
	padding: 15px;
	min-width: 200px;
}

.menu__sub-list li {
	margin: 0px 0px 10px 0px;
}

.menu__sub-list li:last-child {
	margin: 0;
}

.menu__sub-link:hover {
	text-decoration: underline;
}

.menu__sub-link {
	color: #ffffff;
}

/*---------------------------------*/
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0;
	}
	.menu__sub-list {
		transform: translate(0px, 10%);
		opacity: o;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.5s ease 0s;
	}
}

/*==========================================================================*/

.about__title {
	pointer-events: none;
	margin: 0 0 20px 0;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: static;
	text-align: center;
	padding: 10px;
	color: #ffffff;
}
.about__text {
	pointer-events: none;
	max-width: 700px;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	line-height: 25.89px;
	font-weight: 600;
	margin: 0 auto;
}

.about__header {
	padding: 20px 0;
}

.about__button {
	text-align: center;
}

.about__btn {
	margin: 0px 0px 80px;
}

/*------------------------------------*/

.about {
	padding-top: 120px;
}

.about__body {
	max-width: 1260px;
	margin: auto;
	padding: 0 15px;
}

.about__main {
	margin: 0px 0px 100px 0;
}

.about__row {
	margin: 0 -45px;
	display: flex;
	flex-wrap: wrap;
}

.about__column {
	padding: 0 45px;
	flex: 1 1 33.333%;
}

/*----*/

.item__column {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 30px;
	padding: 15px 25px;
	text-align: center;
	min-width: 300px;
}

@media (max-width: 1110px) {
	.about__main {
		margin: 0px 0px 40px 0;
	}
	.about__row {
		gap: 25px;
		margin: 0;
	}
	
	.about__column {
		padding: 0;
	}
}

@media (max-width: 655px) {
	.my-button {
		width: 100%;
	}
}

.item__column__img {
	margin: 0 0 20px 0;
	width: 100px;
	height: 100px;
	border: 2px solid #fff59e;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item__column__head {
	color: #ffffff;
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 0 0 20px 0;
}
.item__column__text {
	flex: 1 1 auto;
	font-size: 17px;
	color: rgb(192, 192, 192);
}

/*==========================================================================*/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	opacity: 1;
	transition: opacity 2s ease;
	pointer-events: none;
	z-index: 2;
}
.my-button {
	font-weight: 540;
	font-size: 30px;
	background-color: #131466;
	color: #ffffff;
	padding: 15px 50px;
	border: none;
	border-radius: 20px;
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease,
		transform 0.2s ease;
	margin: 0 auto;
}
.my-button:hover {
	background-color: #ffffff;
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
	color: #000000;
}
.my-button:active {
	transform: scale(0.9);
}
.preview {
	padding: 10px;
	text-align: center;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slick-slider {
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.slider {
	padding: 0 80px;
	position: relative;
}

.slider .slick-arrow {
	position: absolute;
	margin: -30px 0 0 0;
	top: 50%;
	z-index: 1;
	font-size: 0;
	width: 40px;
	height: 80px;
}


.slider__item {
	text-align: center;
}
.slider__item img {
	border-radius: 10px;
	width: 1200px;
}

.wrapp__slider {
	max-width: 100%;
}

@media (max-width: 1200px) {
	.slider__item img {
	  width: 800px;
	}
}
@media (max-width: 880px) {
	.slider__item img {
	  width: 650px;
	}
}
@media (max-width: 880px) {
	.slider__item img {
	  width: 570px;
	}
}

@media (max-width: 670px) {
	.slider__item img {
	  width: 400px;
	}
}
@media (max-width: 550px) {
	.slider__item img {
	  width: 300px;
	}
}
@media (max-width: 370px) {
	.slider__item img {
	  width: 200px;
	}
}

.links-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.links {
	margin-right: 20px;
	text-align: center;
	flex: 1;
}

.Footer__link {
	text-decoration: none;
	color: #7c7c7c;
	margin-bottom: 10px;
	display: block;
}

.column {
	margin-bottom: 20px;
}
.Subtitleatom {
	color: rgb(168, 168, 168);
	font-size: 23px;
	padding: 5px 0;
}

.Social {
	display: flex;

	justify-content: center;
	align-items: center;
}
.Upper__Social {
	padding: 10px 20px;
}

.wrapper{
	text-align: center;
	padding: 0px 0px 70px 0px;
}

.wrap__title{
	padding: 0px 0px 20px 0px;
	color: #ffffff;
	font-size: 30px;
	letter-spacing: 3px;
	pointer-events: none;

}
.page__row{
	display: flex;
	justify-content: center;
	gap: 400px;
}
.page__counter{
	color: #ffffff;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
	padding: 10px 7px;
	text-align: center;
}

.page__texts{
	display: flex;
	justify-content: center;
	gap: 400px;
}

.page__text{
	color: #ffffff;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

@media (max-width: 1100px) {
	.page__row, .page__texts {
	  gap: 200px; 
	}
  }
@media (max-width: 630px) {
	.page__row, .page__texts {
  	gap: 100px; 
	}
  }  